body {
    background-color: #ecf0f1;
    color: #34495e;
}

.form,
.greetings { /*form class와 greetings class에 동시적용*/
    display : none;
    /*display 숨기기*/
}

.showing {
    display : block;
    /*display 보이기*/
}