p {
    /*p = 선택자, 하나의 속성*/
    color: red;
    /*color : red라는 꾸미기 속성을 선언*/
    width: 500px;
    /*width도 마찬가지*/
}
/*이로써 p라는 하나의 요소를 완성 (p는 html에서 문단 구분 시 사용하는 태그임)
따라서 문단 구분 시에 해당 문단 내 모든 요소가 저 스타일을 적용받음
사용 시에는 <p> </p> 와 같이 해당 txt가 이 요소를 적용받는다는 것을 명시*/
wa {
    color: blue;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
    font-family: "궁서";
}