body {
  height: 1000vh;
  width: 100vw;
  /*vh는 현재 화면크기의 세로, vw는 현재 화면크기의 가로*/
  margin: 100px;
  background-color: indigo;
}

div {
  width: 30px;
  height: 30px;
  background-color: white;
}

span {
  background-color: tomato;
  color: white;
}

#div1 {
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.1);
}

#div2 {
  width: 400px;
  height: 100px;
  background-color: rgba(100, 100, 100, 0.5);
  position: fixed;
  top: 30px;
}

#div3 {
  position: fixed;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 0, 255, 0.5);
  top: 50px;
}

.divclass {
  background-color: rgba(30, 200, 255, 0.7);
  height: 200px;
  width: 100px;
  position: relative;
  top: -30px;
  right: -150px;
}

span:nth-child(even) {
  background-color: blueviolet;
}
/*전체 html 내 짝수번째 span에게 영향을 미침*/

p span {
  background-color: teal !important;
}
/*p 하위에 있는 모든 span에게 영향을 미침*/

div > span {
  background-color: black;
  color: white;
}
/*div의 직속 자녀 span에게만 영항을 미침*/

address {
  background-color: azure;
  position: fixed;
}

input:required {
  border: 3px solid tomato;
}
/*required attribute를 갖고 있는 input만 색을 바꿔줌*/
