:root {
  --main-color: #000000;
  --default-border: 1px solid var(--main-color);
  /*변수값에 변수를 넣을 수도 있음*/
}
/*root에는 변수를 지정할 수 있어서 나중에 여기 있는 값들을 끌어다 쓸 수 있다*/
body {
  background-color: var(--main-color);

  /*변수를 사용하는 방법은 다음과 같음*/
}

a {
  background-color: azure;
  color: aquamarine;
  font-size: 55px;
  border-radius: 5px;
  transition: background-color 1s ease-in-out, color 5s ease-in-out;
}
a:hover {
  background-color: aquamarine;
  color: azure;
}

img[src="img.png"] {
  width: 200px;
  height: 200px;
  border: 5px solid white;
  border-radius: 50%;
  /*border-radius 50%는 이미지를 원형으로 만듬*/
  transform: rotateZ(30deg) scale(2, 2);
  transition: transform 1s ease-in-out;
  /*Transition 적용*/
}
img[src="img.png"]:hover {
  transform: rotateZ(100deg);
}
/*hover state로 변화할 때만 transititon 실행*/
@keyframes coinFlip {
  from {
    transform: rotatey(0);
  }
  to {
    transform: rotatey(360deg) translatex(100px);
  }
} /*애니메이션 정의하기*/
img[src="img2.png"] {
  width: 150px;
  border: 5px solid white;
  border-radius: 50%;
  animation: coinFlip 2s ease-in-out infinite;
  /*애니메이션 불러오기: transition과 비슷*/
}

@keyframes coinFlip2 {
  0% {
    transform: rotatey(0);
  }
  50% {
    transform: rotatey(180deg) translatex(100px);
  }
  100% {
    transform: rotatey(360deg) translatex(0px);
  } /*from to의 두단계가 아닌 3단계로 나눌 수 있음*/
}
img[src="img3.png"] {
  width: 150px;
  border: 5px solid white;
  border-radius: 50%;
  animation: coinFlip2 2s ease-in-out infinite;
}
