body {
    background-color: #ecf0f1;
    color: #34495e;
}
.result {
    display: inline-block; 
    width:311px; 
    height:40px;
    text-align: right;
    font-size: 30px;
    vertical-align: middle;
    margin-bottom:5px;
    /*
    계산 결과가 표시되는 칸
    width와 height는 너비와 높이로, 버튼 너비에 맞추어 작성
    text align (텍스트 정렬) 은 오른쪽 정렬
    font size (폰트 크기) 는 30px
    vertical-align은 세로 기준 정렬 (위, 가운데, 아래)로, 텍스트칸의 중심에 오도록 함
    margin-bottom은 아래쪽 여백
    */
}
.button {
    width: 100px;
    height: 50px;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px;
    color:aliceblue;
    margin-bottom:5px;
    /*
    버튼의 생김새 속성
    border은 테두리 굵기와 색 지정가능
    padding은 내용물과 테두리 사이의 여백 (4면)
    border-방향-radius는 모서리를 둥글릴 때 사용하며, 둥근 면의 반경
    */
}
button:hover{
    background-color: black;
    /*
    버튼 위에 마우스를 올렸을 때 설정
    마우스를 올리면 검은색으로 버튼이 바뀌게 설정
    */
}
.c {
    background-color: rgb(143, 159, 182);
}
.num{
    background-color: rgb(46, 66, 95);
}
.sign{
    background-color:rgb(80, 136, 219);
}
.zero{
    width: 205px;
    background-color: rgb(46, 66, 95);
}