#chat-screen {
  background-color: rgb(230, 230, 230);
}

#chat-screen .alternative-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 999;
}

#chat-screen .alternative-header {
  top: 0px;
}

.chatting-screen {
  box-sizing: border-box;
  height: 70%;
  margin-top: 85px;
  border: 2px solid black;
  padding: 0px var(--horizontal-space);
  overflow-y: scroll;
  background: linear-gradient(to bottom, rgb(230, 230, 230), rgb(97, 97, 97));
}

.chatting-screen::-webkit-scrollbar {
  opacity: 0%;
  width: 10px;
}

.chatting-screen::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 5px;
}
