.nav {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  width: 100%;
  height: 12%;
  box-sizing: border-box;
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: var(--main-border);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: var(--gray);
  position: relative;
}

.nav__notif {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

li:nth-child(4) .nav__notif {
  width: 8px;
  height: 8px;
  left: 30px;
  bottom: 28px;
}
