.nav {
  bottom: 0;
  width: 100vw;
  height: fit-content;
  box-sizing: border-box;
  background-color: rgb(52, 81, 124);
  padding: 20px 50px;
  border-top: var(--main-border);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: var(--gray);
  position: relative;
}

.nav__notif {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

li:nth-child(4) .nav__notif {
  width: 8px;
  height: 8px;
  left: 30px;
  bottom: 28px;
}
