.user-component {
  justify-content: space-between;
}

.user-component:hover {
  cursor: pointer;
}

.user-component,
.user-component__column:first-child {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 5px 0px;
}

.user-component__column:first-child {
  width: 80%;
}

.user-component__column:last-child {
  color: var(--low-opacity);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  margin-right: 20px;
  border: 2px solid white;
}

.user-component__avatar:hover {
  cursor: pointer;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
}

.user-component__name {
  font-weight: 700;
  font-size: 22px;
  max-width: 30vw;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: none;
}

.user-component__name--not-bold {
  font-weight: 400;
  font-size: 20px;
}

.user-component__subtitle {
  margin-top: 7px;
  font-size: 14px;
  opacity: 70%;
  max-width: 40vw;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: none;
}

.user-component__music {
  max-width: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid lightgreen;
  border-radius: 30px;
  padding: 5px 15px;
}

.user-component__music-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: none;
  margin-right: 10px;
}

.user-component__music i {
  color: lightgreen;
}

.user-component__time {
  display: block;
  margin-bottom: 8px;
  color: var(--low-opacity);
  font-size: 18px;
}
