div {
  width: 200px;
  height: 100px;
  background-color: teal;
}

.div2 {
  padding: 20px;
  /*Padding을 준 만큼 박스 크기가 더 늘어남*/
}

.div3 {
  box-sizing: border-box;
  padding: 20px;
  /*Padding을 주었지만 box-sizing 속성 덕분에 크기가 늘어나지 않음*/
}
