/*HTML 내의 모든 요소를 선택*/
* {
  border: 2px solid black;
}

/*태그를 가리키는 방법*/
body {
  background-color: black;
  display: flex;
  /*body가 기타 요소들의 상위 요소이므로 이쪽에 flex속성 부여*/
  height: 70vh;
  /*vh는 화면 전체 크기에 대한 비율임 (100vh면 화면 크기 100%*/
  align-items: center;
}
div {
  background-color: azure;
  width: 100px;
  height: 100px;
}
html {
  background-color: aqua;
}
span {
  background-color: teal;
  padding: 10px;
}

/*ID를 가리키는 방법 (#ID) */
#div1 {
  padding: 1px;
  height: 150px;
  width: 150px;
}
#div3 {
  background-color: blue;
  height: 30px;
  width: 90px;
  margin: 12px 30px 12px 30px;
}

/*Class를 가리키는 방법 (.CLASS)*/
.span1 {
  background-color: red;
  color: white;
}
.span2 {
  background-color: white;
  color: red;
}
.potato {
  padding: 5px;
  border-radius: 5px;
}

.div2 {
  background-color: red;
  height: 30px;
  width: 30px;
  margin: 12px 60px 12px 60px;
}
