body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  background-color: salmon;
  width: 100px;
  height: 100px;
}

span {
  font-size: 20px;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  /*만약 해당 스크린이 800px보다 작으면 */
  div {
    background-color: red;
    /*상자 색깔 변화시키기 (화면 크기 줄였다 늘였다 하면 색이 바뀜*/
  }
}

@media screen and (orientation: landscape) {
  /*화면이 가로모드일때 (세로모드: portrait)*/
  div {
    background-color: blue;
  }
  span {
    /*span 안보이게하기*/
    display: none;
  }
}
